@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --corum: #2DB8EB;
    --cordois: #1E73D4;
    --cortres: #224EF6;
    --corquatro: #1ED3D4;
    --corcinco: #22F6BB;

}

* {
    margin: 0px;
    padding: 0px;

}

body {
    background-color: var(--corum);
}

header {
    background-image: linear-gradient(to bottom, var(--cortres), var(--cordois));
    color: white;
}

header h1 {
    font-family: 'Press Start 2P', cursive;
    padding: 4.5vw 6vw 1vw 6vw;
    text-align: center;
    font-size: 4.5vw;

}

header p {
    font-family: 'Arvo', serif;
    text-align: center;
    padding: 0vw 0vw 2vw 0vw;
    font-size: 2.8vw;

}

nav {
    background: var(--cordois);
    text-align: center;
    border: 2px;
    border-color: white;

}

nav a {
    text-decoration: none;
    color: #2DB8EB;
    font-weight: bold;
    padding: 0.6vw;
    

}

main {
    background-color: white;
}

main h2 { 
    background-image: linear-gradient(to right, var(--corquatro), transparent);
    font-family: 'Arvo', serif;
    font-weight: 400;
    color: white;


}

main p {
    font-family: 'Poppins', sans-serif;

}

main img {

}

aside {
    background-color: #224EF6;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
    

}

aside a {
    text-decoration: none;
    font-weight: normal;
    
}

footer {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    
}